* {
  box-sizing: border-box;
}


/* HEADER & FOOTER */

.header {
	background-color: #525272;
	color: #ffffff;
	padding: 10px;
	overflow: auto;
}

#page-logo {
	width: 30%;
	float: left;
	margin: 0;
	padding: 0;
}

#navigation-buttons {
	display: none;
	float: right;
	font-size: 1rem;
}

#navigation-buttons-list {
	list-style: none;
	overflow: auto;
	margin: 0;
	padding: 0;
}

#navigation-buttons ul li {
	float: left;
	padding: 10px 25px;
}



/* GENERAL BODY */

.section-title {
	width: 100%;
	padding: 10px;
	text-align: center;
}



/* ABOUT */

img {
	width: 100%;
	height: auto;
}

#img-me {
	text-align: center;
}

#img-me img {
	width: 90%;
	max-width: 400px;
	border-radius: 5px;
}


/* PROJECTS */

.project {
	text-align: center
}

#img-me img {
	width: 80%;
	border-radius: 5px;
}