div{
	box-sizing: border-box;
	border-width: 3px;
	border-style: dashed;
	/* margin: 3px; */
	padding: 4px;
	text-align: justify;
	/* content: "";
	clear: both;
	display: table; */
}

#div1 {
	width: 30%
}

#div2 {
	width: 50%;
	overflow: auto;
}

#div3 {
	width: 50%;
	float: left;
}
#div4 {
	width: 50%;
	float: left;
}
