@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;300;400;500&family=Inter:wght@200;300;400;500;700;900&display=swap');

:root {
	--bg-main-color: #ffffff;
	--primary-color: #121B5D;
	--extra-color: #EBE4A6;
	--accent-color: #9da4d8;
	--main-font: 'Inter', sans-serif;
	--extra-font: 'Bitter', serif;
}

* {
	box-sizing: border-box;
}

html {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	flex: 1 1 100%;
	max-width: 1746px;
	background-color: var(--bg-main-color);
	font-family: var(--main-font);
	overflow: scroll;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	max-width: 60ch;
}

section {
	padding: 30px 20px;
}

@media (min-width: 768px) {
	section {
		padding: 30px 40px;
	}
}

section > h1 {
	margin: 1rem 0 2rem;
	text-align: center;
	font-family: var(--extra-font);
	font-size: 2.5rem;
	font-weight: 400;
	letter-spacing: 2px;
}

.hide {
	display: none;
}


/* HEADER */

header {
	background-color: white;
	color: black;
	padding: 20px 30px;
	display: flex;
	align-items: center;
}

.fix_header {
	z-index: 30;
	position: fixed;
	width: 100vw;
}

.logo {
	font-size: 1.5rem;
	margin-right: auto;
	font-weight: 600;
	letter-spacing: -1.5px;
}

.logo_link {
	display: flex;
	align-items: center;
	gap: 5px;
}

.logo_link > img {
	width: 30px;
	transition: 0.3s ease-in-out;
}

.logo_link:hover > img {
	transform: rotate(180deg);
}

.first_letter {
	font-size: 1.1rem;
}

.desktop_nav {
	display: none;
}

.desktop_nav > ul {
	margin: 0;
	list-style: none;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	display: flex;
	gap: 40px;
}

.desktop_nav_link {
	position: relative;
	overflow: hidden;
}

.desktop_nav_link > div {
	position: absolute;
	transform: translateX(-40px);
	width: 40px;
	height: 2px;
	bottom: 0;
	background-color: var(--accent-color);
	transition: 0.3s ease-in-out;
}

.desktop_nav_link:hover > div {
	transform: translateX(0px);
}

.mobile_nav {
	z-index: 20;
	background-color: white;
	position: sticky;
	top: 40px;
	left: 0;
	width: 100vw;
	height: 100vh;
	text-align: center;
	transition: 0.3s ease-in-out;
}

.mobile_nav > ul {
	padding: 40px 20px;
	list-style: none;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.mobile_nav_link{
	border-bottom: 1px solid rgba(157, 164, 216, 0.3);
}

.mobile_nav_link > a {
	display: inline-block;
	width: 100%;
	padding: 30px 0;
}

.menu_button {
	position: relative;
	overflow: hidden;
	width: 36px;
	height: 30px;
	z-index: 1;
}

@media (min-width: 768px) {
	.desktop_nav {
		display: block;
	}

	.mobile_nav, .menu_button {
		display: none;
	}
}

.line {
	background-color: black;
	position: absolute;
	width: 32px;
	height: 5px;
}

#line_1 {
	top: 4px;
	right: 0;
}
.animation_line_1 {
	animation: animation_line_1 0.4s linear forwards;
}
@keyframes animation_line_1 {
	40% { transform: rotate(0); }
	to { transform: rotate(45deg) translateY(10px) translateX(4px);}
}

#line_2 {
	top: 14px;
	right: -4px;
}
.animation_line_2 {
	animation: animation_line_2 0.6s linear forwards;
}
@keyframes animation_line_2 {
	15% { transform: translateX(-4px); }
	40% { transform: translateX(40px); }
	to { transform: translateX(40px); }
}

#line_3 {
	top: 24px;
	right: 0;
}
.animation_line_3 {
	animation: animation_line_3 0.4s linear forwards;
}
@keyframes animation_line_3 {
	40% { transform: rotate(0); }
	to { transform: rotate(-45deg) translateY(-10px) translateX(4px);}
}


/* HERO SECTION */

.hero {
	min-height: calc(100vh - 66px);
	max-width: 1600px;
	margin: 0 auto;
	font-family: var(--extra-font);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	color: var(--primary-color);
	position: relative;
	overflow: hidden;
}

@media (min-width: 1024px) {
	.hero {
		flex-direction: row;
	}
}

.hero > div {
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero_hi {
	padding-top: 10px;
	z-index: 10;
	font-size: clamp(3rem, 5vw, 4rem);
	font-weight: 200;
}

.hero_name {
	font-size: clamp(4rem, 6vw, 5rem);
}

.hero_i_am {
	margin: 2rem 0;
	font-size: clamp(1.5rem, 3vw, 2rem);
	height: clamp(3rem, 6vw, 4rem);
	text-align: center;
}

.hero_cv {
	margin: 1rem 0 4rem;
	font-family: var(--main-font);
	font-size: 1rem;
	line-height: 24px;
	font-weight: 300;
	padding: 5px 50px;
	position: relative;
	background-color: var(--accent-color);
	color: white;
	border: 2px solid var(--primary-color);
	border-radius: 100vh;
	opacity: 0;
	animation: fadeIn 0.5s ease-in 0.5s forwards;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.hero_download_icon {
	position: absolute;
	opacity: 1;
	vertical-align: bottom;
	right: 10%;
}

@media (min-width: 1024px) {
	.hero_download_icon {
		position: absolute;
		opacity: 0;
		-webkit-transition: all .25s cubic-bezier(.14, .59, 1, 1.01);
		transition: all .5s cubic-bezier(.14, .59, 1, 1.01);
		transform: translateX(30px);
		top: 5px;
		right: auto;
	}
	.hero_cv:hover {
		transform: scale(1.02);
	}
	.hero_cv:hover .hero_download_icon{
		opacity: 1;
		transform: translateX(15px);
	}
}

.hero_img {
	padding: 20px 0;
}

.hero_img > div {
	position: relative;
}

.hero_img_container {
	z-index: 10;
	width: min-content;
	border-radius: 20px;
	border: 4px solid var(--primary-color);
	position: relative;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.me_img {
	width: 80vw;
	max-width: 450px;
	vertical-align: top;
}

.me_img_shadow {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: rgba(157, 164, 216, 0.2);
	border-radius: 20px;
	border: 3px solid #9da4d8;
	opacity: 0.4;
	width: calc(80vw + 8px);
	aspect-ratio: 4 / 3;
	max-width: calc(450px + 8px);
	transition: all 0.4s ease-in-out;
}

.me_img_shadow + .me_img_shadow {
	display: none;
}

@media (min-width: 1024px) {

	.me_img_shadow + .me_img_shadow {
		display: block;
	}

	.hero_img_container:hover {
		transform: translateX(-6px) translateY(-6px);
	}
	.hero_img_container:hover + .me_img_shadow {
		transform: translateX(-10px) translateY(-10px);
	}
	.hero_img_container:hover + .me_img_shadow + .me_img_shadow {
		transform: translateX(-5px) translateY(-5px);
	}
}

.loading_spinner {
	z-index: 20;
	box-sizing: content-box;
	position: absolute;
	top: 49%;
	left: 81.5%;
	background-color: transparent;
	border: 3px solid var(--extra-color);
	width: 12px;
	height: 12px;
	border-top-color: transparent;
	border-radius: 100vh;
	animation: rotate360 3s linear infinite normal, fadeIn 3s cubic-bezier(.61,.02,.6,.16) normal forwards;
}

.loaded_bg {
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	clip-path: polygon(75.1% 41.9%, 97.6% 40.8%, 92.7% 65.9%, 71% 59.8%);
}

.loaded_bg > div {
	position: relative;
	width: 100%;
	height: 100%;
}

.cat_gif {
	position: absolute;
	width: 18%;
	top: 45%;
	left: 75%;
	opacity: 0;
	transform: skewX(-12deg) skewY(3deg);
}


/* Particles classes */
.floating_circle {
	box-sizing: content-box;
	position: absolute;
	background-color: transparent;
	border: 8px solid var(--extra-color);
	border-radius: 100vh;
	animation: rotate360 2s linear infinite;
}

.floating_text {
	box-sizing: content-box;
	position: absolute;
	background-color: transparent;
	color: var(--extra-color);
	font-weight: 900;
	animation: rotate360 2s linear infinite;
}

@keyframes rotate360 {
	to {transform: rotate(360deg);}
}


/* ABOUT SECTION */

.about {
	min-height: 100vh;
	background-color: var(--primary-color);
	color: white;
	letter-spacing: 0.5px;
	text-align: left;
	line-height: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	position: relative;
	overflow: hidden;
}

.stairs_svg {
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
	display: none;
}

@media (min-width: 400px) {
	.stairs_svg {
		right: 5vw;
		top: 5vh;
		display: inline-block;
	}
}

@media (min-width: 1024px) {
	.stairs_svg {
		right: 10vw;
		top: 10vh;
	}
}

.about_container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}

@media (min-width: 1024px) {
	.about_container {
		flex-direction: row;
	}
}

.about_container > div {
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about_img {
	padding: 20px 0;
	align-self: stretch;
	position: relative;
}

.blob_svg {
	position: absolute;
	z-index: 1;
	max-width: 400px;
	transform: rotate(90deg);
}

@media (min-width: 1024px) {
	.blob_svg {
		transform: rotate(0deg);
	}
}

.about_img_container {
	z-index: 10;
	height: min-content;
	border-radius: 4px;
	overflow: hidden;
	border: 2px solid var(--accent-color);
	position: relative;
}

.about_img_container > img {
	max-width: 375px;
}


.custom_shape_divider {
    position: relative;
	height: 24px;
	background-color: var(--extra-color);
    overflow: hidden;
}

.custom_shape_divider svg {
    position: absolute;
    display: block;
    width: calc(100% + 1.3px);
    height: 24px;
}

.custom_shape_divider .shape-fill {
    fill: var(--primary-color);
}


/* TOOLS SECTION */

.tools {
	background-color: var(--extra-color);
	color: var(--primary-color);
}

.tools_container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

@media (min-width: 1024px) {
	.tools_container {
		flex-direction: row;
		gap: 1rem;
	}
}

.tools_container > div {
	flex: 1 1 100%;
	display: flex;
	align-items: center;
}

.tools_text {
	justify-content: center;

}

@media (min-width: 1024px) {
	.tools_text {
		padding: 0 1rem;
	}
}

.tools_img {
	max-width: 100%;
	padding: 0 5px;
	overflow-x: hidden;
}

.logos_container {
	display: flex;
	align-items: center;
	gap: 48px;
	animation: slideLeft 120s linear infinite alternate;
}

@keyframes slideLeft {
	to {transform: translateX(-100%) translateX(760px);}
}


.triangle {
	position: relative;
	background: var(--extra-color);
}

.triangle::before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 0 20px;
	border-color: var(--extra-color) transparent transparent transparent;
	left: 50%;
	transform: translateX(-50%) translateY(100%);
}


/* PROJECTS SECTION */

.projects_container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 3rem;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.projects_text {
	padding: 2rem 0;
}
.projects_list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.project_template {
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	position: relative;
	transition: all 0.2s ease-in-out;
}

@media (min-width: 550px) {
	.project_template {
		flex-direction: row;
	}
}

.project_template:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 0;
	max-width: 900px;
	border: 1px solid var(--primary-color);
}

.project_img {
	/* flex: 0 1 280px; */
	display: flex;
	justify-content: center;
}

@media (min-width: 550px) {
	.project_img {
		flex: 0 4 280px;
		display: flex;
	}
}

.project_template:hover > .project_img {
	transform: scale(1.01);
}

.project_img > div {
	border-radius: 4px;
	overflow: hidden;
	height: min-content;
}

.project_img img {
	width: 100%;
	vertical-align: top;
}

.project_text {
	flex: 1 1 66%;
	padding: 1rem 0.5rem 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
}

@media (min-width: 550px) {
	.project_text {
		padding: 0 2rem;
	}
}

.project_title {
	font-size: 2rem;
	font-weight: 600;
	font-family: var(--extra-font);
	color: var(--primary-color);
	letter-spacing: 1.5px;
	position: relative;
	overflow: hidden;
}

.appear_link {
	display: none;
	opacity: 0;
	color: #121B5D;
	vertical-align: top;
}

@media (min-width: 1024px) {
	.appear_link {
		display: inline-block;
	}
}

.project_template:hover .appear_link {
	opacity: 1;
	transition: opacity 0.4s ease-in;
}

.project_title_underline {
	position: absolute;
	transform: translateX(-100%);
	width: calc(100% - 32px);
	bottom: 3px;
	border: 1px solid var(--primary-color);
	opacity: 0.6;
	transition: 0.4s ease-out;
}

.project_template:hover .project_title_underline {
	transform: translateX(0px);
}

.project_description {
	flex-grow: 1;
}

.project_tags {
	align-self: self-start;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.tag {
	padding: 0.25rem 0.5rem;
	color: var(--primary-color);
	color: white;
	background-color: var(--accent-color);
	font-weight: 500;
	font-size: 0.8rem;
	border: 1px solid var(--primary-color);
	border-radius: 6px;
}


.custom_shape_round {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom_shape_round svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 18px;
}

.custom_shape_round .shape-fill {
    fill: #FFFFFF;
}


/* EXTRA SECTION */

.extra {
	background-color: var(--extra-color);
	color: var(--primary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.extra_container {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (min-width: 768px) {
	.extra_container {
		flex-direction: row;
	}
}

.extra_container > div {
	flex: 1 1 100%;
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.extra_buttons {
	padding: 1rem 0;
}

.extra_spotify_button {
	padding: 6px 30px;
	font-size: 0.9rem;
	background-color: black;
	color: white;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 24px;
	border-radius: 6px;
	display: flex;
	gap: 10px;
	position: relative;
}

.external_link {
	position: absolute;
	top: 4px;
	right: 0;
}

.extra_spotify_button:hover > .external_link {
	transform: scale(1.2);
	transition: all 0.2s ease-in-out;
}

.extra_img_container {
	z-index: 10;
	height: min-content;
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 100vh;
	overflow: hidden;
	position: relative;
}

.extra_img_container > img {
	max-width: 240px;
	opacity: 0.9;
}


/* CONTACT SECTION */

.contact {
	min-height: calc(100vh - 48px);
}

.contact_text {
	margin: 4rem 0;
	font-size: 1.5rem;
	text-align: left;
}

.contact_container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input[type=text], textarea {
	padding: 8px;
	border: none;
	outline: none;
	border-bottom: 1px solid var(--primary-color);
	font-family: var(--main-font);
	font-size: 1rem;
	background-color: rgba(157, 164, 216, 0.05);
}

input[type=text]::placeholder, textarea::placeholder {
	color: var(--primar-color);
	opacity: 0.5;
}

textarea {
	resize: none;
	line-height: 1.5rem;
	min-height: 9.5rem;
}

textarea:focus, input:focus{
    outline: none;
}

.email_form {
	width: 100%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.email_form > * {
	width: 100%;
}

.email_info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (min-width: 768px) {
	.email_info {
		flex-direction: row;
	}
}

.email_info > * {
	width: 100%;
}

.email_submit {
	margin-top: 2rem;
	max-width: 300px;
	padding: 10px;
	font-size: 1.2rem;
	background-color: var(--primary-color);
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
}

.email_provider {
	width: 100%;
	padding: 10px 0;
	max-width: 800px;
	text-align: right;
	font-size: 0.8rem;
	opacity: 0.6;
}




/* FOOTER + OTHERS */


footer {
	padding: 10px 20px;
	background-color: var(--primary-color);
	color: white;
	display: flex;
	align-items: center;
}

.footer_copyright {
	flex: 0 0 180px;
}

@media (min-width: 768px) {
	.footer_copyright {
		position: absolute;
	}
}

.footer_links {
	flex: 0 1 280px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}

#to_top_button {
	position: fixed;
	outline: none;
	border: none;
	right: min(60px, 10vw);
	bottom: min(60px, 10vh);
	padding: 1rem;
	background-color: #EBE4A6;
	border: 2px solid var(--primary-color);
	border-radius: 100vh;
	cursor: pointer;
	opacity: 0;
}

#to_top_button svg {
	display: block;
}